/* <system section="theme" selected="6653586347149180725"> */
@import url("http://hatenablog.com/theme/6653586347149180725.css");
/* </system> */

html, body {
    font-family: "Avenir Next","Quicksand",Arial,YuGothic,"Yu Gothic",游ゴシック体,"游ゴシック","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"MS ゴシック","MS Gothic",sans-serif;
}

.categories a{
    display: inline-block;
    float: none;
    margin-right: 0;
}

.head_share_bookmark{
  color: #ffffff !important;
  font-size:80%;
  position:absolute;
  top: 5px;
  right: 5px;
  font-weight: bold;
}

.urllist-title-link {
    font-size: 1.5em;
}

#blog-title {
    padding: 0;
}

.about {
	list-style-type: none;
}

.hatena-module-title {
	font-size: 1.4em;
	border-left: solid 10px #222;
	padding-left: 10px;
	line-height: 1em;
}